html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}
.canvas {
  border: 10px solid #2a2a2a;
  min-width: 600px;
  min-height: 600px;
}
.logger {
}